/* regola reset */
html{
    font-family: 'Noto Sans JP', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ol, 
ul,
menu
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

:root{
    --blue: #0084fd;
    --light-blue: #b5ddff;
    --purple: #9792e4;
    --dark: #333;
    --yellow: #fdc15f;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* nav */
.main-header{
    background-color: var(--blue);
    padding: 19px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.flex{
    display: flex;
}

.between-flex{
    justify-content: space-between;
}

.around-flex{
    justify-content: space-around;
}

.centeralign-flex{
    align-items: center;
}

.list-nav{
    color: white;
    line-height: 38px;
    font-size: 16px;
}

.list-nav li{
    padding: 0 16px;
} 

.button{
    border-radius: 20px;
    border: 1px solid transparent;
}

.button-white{
    background-color: white;
    color: black;
}

.hamburger{
    display: none;
    color: white;
}

/* main prima section*/
.col{
    flex-basis: calc((100% - 75px) / 3);
    padding: 10px;
} 

.col-60{
    flex-basis: calc((100% - 25px) *2 / 3 );
}

.card{
    background-color: var(--light-blue);
    border-radius: 24px;
    padding: 30px;
    line-height: 29px;
    font-size: 15px;
}

.space-big{
    padding-top: 20px;
    padding-bottom: 40px;
}

.column-flex{
    flex-direction: column;
}

.gap-12{
    gap: 12px;
}

.gap-25{
    gap: 25px;
}

.text-start{
    align-items: flex-start;
    gap: 26px;
} 

.text-center{
    text-align: center;
}

.icon-blue{
    color: var(--blue);
    font-size: 75px;
}


.title-blue{
    color: var(--blue);
    padding-top: 5px;
}

.button-blue{
    color: white;
    background-color: var(--blue);
    padding: 1px 56px;
}

.hero .button::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f5d1";
}

.phone-img{
    margin-bottom: -38px;
    padding-right: 50px;
    padding-top: 50px;
}


/* mediaquery DESKTOP FIRST */

@media  screen and (max-width: 768px) {
    .logo-nav{
        padding-left: 10px;
    }

    .hamburger{
        display: block;
        padding-right: 10px;
    }

    .list-nav{
        display: none;
    }


    .col-60 .card{
        flex-direction: column;
    }

    .col-60 .phone-img{
        width: 50%;
        position: relative;
        top: 5px;
    }
}

@media screen and (max-width: 460px){
    .col{
        flex-basis: 100%;
    }

    .card{
        align-items: center;
    }

    .col-60 .phone-img{
        width: 80%;
        position: relative;
        top: 2px;
        padding: 0;
    }
}
