/* regola reset */
html{
    font-family: 'Noto Sans JP', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ol, 
ul,
menu
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

:root{
    --blue: #0084fd;
    --light-blue: #b5ddff;
    --purple: #9792e4;
    --dark: #333;
    --yellow: #fdc15f;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* nav */
.main-header{
    background-color: var(--blue);
    padding: 19px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.flex{
    display: flex;
}

.column-flex{
    flex-direction: column;
}

.between-flex{
    justify-content: space-between;
}

.around-flex{
    justify-content: space-around;
}

.centeralign-flex{
    align-items: center;
}

.list-nav{
    color: white;
    line-height: 38px;
    font-size: 16px;
}

.list-nav li{
    padding: 0 16px;
} 

.button{
    border-radius: 20px;
}

.bg-white{
    background-color: white;
    color: black;
}

.hamburger{
    display: none;
    color: white;
}

/* mediaquery nav */

@media  screen and (max-width: 768px) {
    .logo-nav{
        padding-left: 10px;
    }

    .hamburger{
        display: block;
        padding-right: 10px;
    }

    .list-nav{
        display: none;
    }
}

/* main hero section*/
.col{
    flex-basis: calc((100% - 75px) / 3);
    padding: 10px;
} 

.col-60{
    flex-basis: calc((100% - 25px) *2 / 3 );
    padding: 10px;
}

.card{
    border-radius: 24px;
    padding: 30px;
    line-height: 29px;
    font-size: 15px;
}

.card-bg-lb{
    background-color: var(--light-blue);
}

.space-big{
    padding-top: 20px;
    padding-bottom: 40px;
}

.gap-12{
    gap: 12px;
}

.gap-25{
    gap: 24px;
}

.text-start{
    align-items: flex-start;
    gap: 26px;
} 

.text-center{
    text-align: center;
}

.icon-blue{
    color: var(--blue);
    font-size: 75px;
}


.title-blue{
    color: var(--blue);
    padding-top: 5px;
}

.button-blue{
    color: white;
    background-color: var(--blue);
    padding: 1px 56px;
}

.hero .button::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f5d1";
}

.phone-img{
    margin-bottom: -38px;
    padding-right: 50px;
    padding-top: 50px;
}

/* mediaquery hero section */

@media  screen and (max-width: 768px) {
    .col-60 .card{
        flex-direction: column;
    }

    .col-60 .phone-img{
        width: 50%;
        position: relative;
        top: 5px;
    }
}

@media screen and (max-width: 460px){
    .col{
        flex-basis: 100%;
    }

    .card{
        align-items: center;
    }

    .col-60 .phone-img{
        width: 80%;
        position: relative;
        top: 2px;
        padding: 0;
    }
}

/* main developement section */
.planning{
    background-color: var(--purple);
}

.row-plan{
    width: 60%;
}

.justify-center{
   justify-content: center;
}

.col-50{
    flex-basis: calc(100% / 2);
}

.card-plan{
    border-radius: 34px;
    padding: 10px;
    line-height: 25px;
    font-size: 15px;
    gap: 15px;
}

.plan-marg{
    margin-top: 170px;
    margin-bottom: 50px;
}

.text-white{
    color: white;
}

.text-black{
    color: black;
}

.text-italic{
    font-style: italic;
}

.marg-img{
    margin: 70px 0;
}

.plann-img{
    width: 80%;
    margin: 0 auto;
}

.p-plan{
    margin: 20px 0;
}

.button-purple{
    background-color: var(--purple);
}

.icon-button{
    padding: 2px 11px;
    border-radius: 100%;
}

/* mediaquery developement section */

@media  screen and (max-width: 768px) {
    .col-50{
        flex-basis: 100%;
    }

    .plan-marg{
        margin-top: 0;
    }

    .big{
        font-size: 30px;
    }
}

@media screen and (max-width: 460px){

    .big{
        font-size: 20px;
    }
}

/* TESTIMONIALS section */
.intro-testimonials, .title-benefits{
    text-align: center;
}

.testimonials .col{
    flex-basis: 100%;
}

.col-intro{
    margin-top: 30px;
    gap: 30px;
}

.title-purple{
    color: var(--purple);
}

.testimonials .card{
    background-color: var(--purple);
    padding: 24px;
}

.card-testimonials{
    margin: 20px;
}

.row-card{
    gap: 60px;
}

.testimonials .col-card{
    flex-basis: 25%;
}

.testimonial-image{
    border-radius: 100%;
}

.testimonials .text-white{
 flex-basis: 65%;
 gap: 23px;
}

.testimonials .p-testimonial::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f10d";
}

.testimonials .p-testimonial::after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f10e";
}

/* mediaquery testimonials section */

@media screen and (max-width: 460px) {
    .testimonials .row{
        gap: 35px;
    }

    .testimonials .card{
        border-radius: 64px;
    }

    .testimonials .col-card{
        flex-basis: 100%;
        text-align: center;
        font-size: 18px;
    }
}

/* main benefits section */
.benefits{
    background-color: var(--purple);
    padding: 70px 0;
}

.title-benefits{
    font-size: 30px;
    padding-bottom: 70px;
}

.text-benefits{
    gap: 25px;
    align-items: flex-start;
}

.title-big{
    font-size: 60px;
    padding: 30px 0;
}

.button-card{
    padding: 4px 40px;
    color: white;
}

/* mediaquery benefits section */

@media  screen and (max-width:760px) {
    .benefits .col{
        flex-basis: calc(100% / 2);
    }
}

@media  screen and (max-width:460px) {
    .benefits .col{
        flex-basis: 100%;
    }
}
